extends loggedlayout

block content
  .container
    .row
      .col-xs-12.col-md-12
        h1.text-center Bienvenido #{user.givenName}
        .panel.panel-default
          .panel-body
            p.text-center Opciones de Administrador
            a(href='/dashboard/new').btn.col-md-1.col-md-offset-2 Nuevo punto de interes
            a(href='/dashboard/events').btn.col-md-1.col-md-offset-6 Ver puntos de interes
