extends loggedlayout

block content
  .container
    .row
      .col-xs-12.col-md-12
        h1.text-center Bienvenido #{user.givenName}
        .panel.panel-default
          .panel-body
            p.text-center Opciones de Administrador
            a(href='/dashboard/events').btn.col-md-4 Panel de sitios
            a(href='/dashboard/qrpanel').btn.col-md-4 Panel de Qr
