doctype html
//seguridadprivadag83.com.mx**144.90
//g83seguridadprivada.com.mx**144.90
//g83.com.mx**144.90**182.90

html(lang='es')
  head
    meta(charset='UTF-8')
    meta(property='og:title', content='Vive Tampico - Semanai')
    meta(property='og:url', content='http://www.semanai.ddns.net')
    meta(property='og:description', content='#Semanai #Madero #Tampico #ITESM')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/img/imgapple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/img/imgapple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/imgapple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/imgapple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/imgapple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/imgapple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/img/imgapple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/imgapple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/imgapple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/img/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon-16x16.png')
    link(rel='manifest', href='/img/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/img/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Caveat|Roboto|Cantarell')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse',data-target='#navbar1',aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/dashboard')
            img.responsiva(src='/img/logo.png')
      if user
        #navbar1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li #[a(href='/dashboard/events') Puntos de interes]
      if !user
          #navbar1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li #[a(href='/login') Iniciar Sesión]
    block content
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
