extends loggedlayout
//idLugar: Number,
//nombreLugar: String,
//subnombreLugar: String,
//descLugar: String,
//historiaLugar: String,
//bgLugar: String,
//coordenadasLugar:String,
//AIzaSyCzLwf3tEg1qjAr0U4n8bUbmvh8FZK2JeM
block content
  .container(ng-style="style")
    .row
      .col-xs-12.col-md-12
        h1.text-center Bienvenido #{user.givenName}
        .panel.panel-default
          .panel-body
            p.text-center Opciones de #{title}
            form#new(method='POST', action='/dashboard/new', enctype='multipart/form-data')
              .form-group.col-md-6
                label(for='idLugar') Numero
                input#idLugar.form-control(type='number', placeholder='Numero de punto de interes', name='idLugar')
              .form-group.col-md-6
                label(for='nombreLugar') Nombre punto de interes
                input#nombreLugar.form-control(type='text', placeholder='Nombre punto de interes', name='nombreLugar')
              .form-group.col-md-6
                label(for='subnombreLugar') Subnombre del punto de interes
                input#subnombreLugar.form-control(type='text', placeholder='Subnombre del punto de interes', name='subnombreLugar')
              .form-group.col-md-6
                label(for='descLugar') Descripción de punto de interes
                input#descLugar.form-control(type='text', placeholder='Descripción del punto de interes', name='descLugar')
              .form-group.col-md-9
                label(for='historiaLugar') Historia de punto de interes
                input#historiaLugar.form-control(type='text', placeholder='Historia del punto de interes', name='historiaLugar')
              .form-group.col-md-12
                #map(style='height:300px;')
                label(for='latitudLugar') Latitud de lugar de interes
                input#latitudLugar.form-control(type='text',value='', placeholder='Latitud de lugar de interes', name='latitudLugar')
                label(for='longitudLugar') Longitud de lugar de interes
                input#longitudLugar.form-control(type='text',value='', placeholder='Longitud de lugar de interes', name='longitudLugar')
              .form-group.col-md-12
                div(flow-init="{target: '/upload'}", flow-files-submitted='$flow.upload()', flow-file-success='$file.msg = $message')
                  img(flow-img='$flow.files[0]')
                  input(type='file', flow-btn='')
                  span.btn(flow-btn='')
                  table
                    tr(ng-repeat='file in $flow.files')
                      td {{$index+1}}
                      td {{file.name}}
                      td {{file.msg}}
              .form-group.col-md-1
                input.btn.btn-info(type='submit', value='Guardar')
  script(src='/js/angular.min.js')
  script(src='/js/ng-flow-standalone.min.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzLwf3tEg1qjAr0U4n8bUbmvh8FZK2JeM&callback=initMap" async defer)              button.btn.btn-info(type='submit') Guardar
  script(src='/js/app.js')
  script.
    window.onload = function() {
      var latlng = new google.maps.LatLng(22.2158187, -97.8407089);
      var map = new google.maps.Map(document.getElementById('map'), {
          center: latlng,
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var marker = new google.maps.Marker({
          position: latlng,
          map: map,
          title: 'Set lat/lon values for this property',
          draggable: true
      });
      google.maps.event.addListener(marker, 'dragend', function(a) {
          $(document).ready(function(){
              $("input#latitudLugar").val(a.latLng.lat());
              $("input#longitudLugar").val(a.latLng.lng());
            });
      });
    };
