extends loggedlayout
//idLugar: Number,
//nombreLugar: String,
//subnombreLugar: String,
//descLugar: String,
//historiaLugar: String,
//bgLugar: String,
//coordenadasLugar:String,
//AIzaSyC0M8y4m44iM-d5Uflk1JXfF-ZvDumWaAY
block content
  .container
    .row
      .col-xs-12.col-md-12
        h1.text-center Bienvenido #{user.givenName}
        .panel.panel-default
          .panel-body
            p.text-center Opciones de #{title}
            form(method='POST', action='/dashboard/new', enctype='multipart/form-data')
              .form-group.col-md-6
                label(for='idLugar') Numero
                input#idLugar.form-control(type='number', placeholder='Numero de punto de interes', name='idLugar')
              .form-group.col-md-6
                label(for='nombreLugar') Nombre punto de interes
                input#nombreLugar.form-control(type='text', placeholder='Nombre punto de interes', name='nombreLugar')
              .form-group.col-md-6
                label(for='subnombreLugar') Subnombre del punto de interes
                input#subnombreLugar.form-control(type='text', placeholder='Subnombre del punto de interes', name='subnombreLugar')
              .form-group.col-md-6
                label(for='descLugar') Descripción de punto de interes
                input#descLugar.form-control(type='text', placeholder='Descripción', name='descLugar')
              .form-group.col-md-9
                label(for='historiaLugar') Historia de punto de interes
                input#historiaLugar.form-control(type='text', placeholder='Historia', name='historiaLugar')
              .form-group.col-md-6
                label(for='latitudLugar') Latitud del punto de interes
                #map(style='height:600px;')
                input#latitudLugar.form-control(type='text', placeholder='Coordenadas - Latitud', name='latitudLugar')
              .form-group.col-md-6
                label(for='longitudLugar') Longitud del punto de interes
                input#longitudLugar.form-control(type='text', placeholder='Coordenadas - Longitud', name='longitudLugar')
              .form-group.col-md-12
                label(for='fotoLugar') Fotografía del punto de interes
                input#bgLugar(type='file', name='bgLugar')
                p.help-block(style='font-size:16px;') No es necesario una fotografia, puede editarse despues.
              .form-group.col-md-1
                button.btn.btn-info(type='submit') Guardar
  script.
    function initMap() {
        var myLatLng = {lat: 22.2158187, lng: -97.8407089};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 4
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Hello World!'
        });
      }
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC0M8y4m44iM-d5Uflk1JXfF-ZvDumWaAY&callback=initMap')
