a {color: #00B7FF;}
body{background:#fff;padding:20px;font-size:24px;font-family: 'Cantarell', sans-serif;}
button{font-family: 'Caveat', cursive; font-size:22px; padding: 5px;}
.cavaet{font-family: 'Caveat', cursive;}
.roboto{font-family: 'Roboto', sans-serif;}
.navbar{background-color:#000;height: 90px;}
.blue{color:#00b0ad;}
.green{color:#88d400;}
.pink{color:#b91eb7;}
.red{color:#f32726;}
.yellow{color:#f5b611;}
